*{
    all: unset;
}

.dialogs {
    background-color: #282e33;
}

.dialog {
    background-color: #282e33;
    padding: 10px;
}

.dialog:hover{
    background-color: #353C43;
}

.dialog_active{
    background-color: #009687;
}

.dialog_active:hover{
    background-color: #009687;
}

.main_window {
    background-color: #18191D;
}

.dialog_label {
    font-weight: bold;
}

.message_send_box {
    background-color: #282E33;
    padding: 15px;
    border-left: 1px solid #242A2E;
}

.placeholder {
    color: #565A5E;
}

.message_placeholder {
    padding-left: 20px;
}

.message {
    border-radius: 10px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 20px;
    margin-right: 50px;
}

.message_outgoing {
    background-color: #2A2F33;
}

.message_incoming {
    background-color: #33393F;
}

.sender_label {
    font-weight: bold;
}
