*{
    all: unset;
}
.dialogs {
    background-color: #17212B;
}
.dialog {
    background-color: #17212B;
    padding: 10px;
}
.main_window {
    background-color: #0E1621;
}
.dialog_label {
    font-weight: bold;
}
.profile_picture{
}
